@model List<Article>
@{
    ViewData["Title"] = "Home Page";
}
<h1>Deafult Area</h1>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@foreach (var article in Model)
{
    <h2>@article.Title</h2> <br />
    <h3>@article.Content</h3><br />
}
